body{
	width:60%;
	border:20px solid #bdc3c7;
	margin:auto;
	padding: 20px;
	

}

.head{
	font-family: source sans pro;
	color: #3498db;
	margin-left: 20px;
	margin-top: 20px;
	font-size: 25px;
	letter-spacing: 0.2rem;
}

h1{
	font-size: 35px;
	margin-left: 20px;
	margin-top: 20px;
	font-weight: 700;
}

p{	
	margin-top: 20px;
	margin-left:20px;
	font-weight: bold;
	font-family: source sans pro;
	font-size: 20px;
}
.p1{
	
	border-left: 4px solid #bdc3c7;
	
}

hr { border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }

/*div{
	border-up:5px #f1f1f1 solid;
}*/